@font-face {
  font-family: Paytone;
  src: url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Paytone+One&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap");
}
@font-face {
  font-family: Dm Sans;
  src: url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Paytone+One&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap");
}
@theme {
  --font-paytone: Paytone One, sans-serif;
  --font-DmSans: DM Sans, sans-serif;
}

@import "tailwindcss";
